<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Test.WSIE">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WSIE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.Test.WSIE.SelectMealsEat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.Test.WSIE.Result" />
        <activity android:name="com.Test.WSIE.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--검색 기능 구현을 위해 아래 action을 한 줄 추가합니다.-->
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--검색 기능 구현을 위해 아래 meta-data를 추가합니다.-->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>